{% extends 'base.html' %}
{% block content %}
    <div class="container mb-3 text-right">
        <form action="" method="GET" id="search_form">
            {{ search_form }}
            <button type="submit" class="btn btn-success">Find Patient</button>
        </form>
    </div>
    {% if object_list %}
        <div class="patients-container">
            {% include 'users/patients_list.html' %}
        </div>
    {% else %}
        <p>You don't have any patients</p>
    {% endif %}

{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function() {

            $('#search_form').on('submit', function(e) {
                e.preventDefault();
                // alert($('.table-body').html())
                query = $(this).children('input').val();
                $('.patients-container').load(
                    "{% url 'users:search_patients' %}?q=" + query
                );
            });

            // called when doctor click "add patient" icon
            $(document).on('show.bs.modal', '#addPatientModal', function (event) {
                var add_button = $(event.relatedTarget) // Button that triggered the modal
                var modal = $(this)
                modal.find('.modal-title').text('Adding a new patient')
                var firstName = add_button.parent().siblings(".patient_first_name").text()
                var lastName = add_button.parent().siblings(".patient_last_name").text()
                modal.find('.modal-body').html(
                    "<pre>Do you really want to add " + firstName + " " + lastName + " to your patient's list?</pre>"
                )

                // click "Yes"
                $('.confirm-modal').on('click', function() {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'users:add_patient' %}",
                        data: {
                            patient_id: add_button.data('patient-id'),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(responce) {
                            add_button.parent().html('<i class="fa fa-check"></i>');
                            modal.modal('hide')
                        },
                    });
                });
            });
            
        });
        
    </script>
{% endblock javascript %}