<tr class='user-row' {% if object in user.doctor.patients.all %}data-medical-book-url="{% url 'records:medical-book' object.user.id %}"{% endif %}>
    <td class="full_name">{{ object.user.first_name }} {{ object.user.last_name }}</td>
    <td>{{ object.user.email }}</td>
    <td>{{ object.user.phone }}</td>
    {% if object in user.doctor.patients.all %}
        <td><i class="fa fa-check" title="Already added"></i></td>
    {% else %}
        <td><i class="fa fa-plus-circle add-patient-btn" data-toggle="modal" data-target="#addPatientModal" data-patient-id="{{ object.user.id }}"></i></td>
    {% endif %}
</tr>